
<!-- Kuba's Code-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kubasCSS.css')}}"> 
</head>
<body>
    <div class="container">
        <h1>Quiz Game</h1>
        <form method="POST">
            {% for i in range(questions|length)%}
                <div class="question">
                    <p><strong>{{ questions[i].question }}</strong></p>
                    {% for option in questions[i].options %}
                        <label>
                            <input type="radio" name="question-{{ i }}" value="{{ option }}" required>
                            {{ option }}
                        </label><br>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
